body {
    font-family: Arial, sans-serif;
    background-color: #1abea3; /* Adicionando imagem de fundo */
    background-size: 120%;
    background-position: center;    
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
    border-bottom: 3px solid #27461f;
    position: relative;
    left: 34%;
    width: 500px;
    bottom:0

}

h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.selection {
    text-align: center;
    margin-bottom: 20px;
}

.selection label {
    margin-right: 20px;
    font-size: 18px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.form-section {
    display: none;
}

#formCliente {
    display: block;
}